<% title "Teams"%>

Teams
<% @teams.each do |team|%>
	<h2><%= team.name %>
<%= team.division %></h2>

	<% team.players.each do |player|%>
		<li>
			Pick Number <%= player.pick.pick_number %>
			Round <%= player.pick.round %>
			<%= player.name %>
			<%= player.position %>
			</li>
		<% end %>
<% end %>


