<% title "Teams" %>

<table>
  <tr>
    <th>Name</th>
    <th>Division</th>
    <th>Player</th>
    <th>Pick</th>
  </tr>
  <% for team in @teams %>
    <tr>
      <td><%=h team.name %></td>
      <td><%=h team.division %></td>
      <td><%=h team.player_id %></td>
      <td><%=h team.pick_id %></td>
      <td><%= link_to "Show", team %></td>
      <td><%= link_to "Edit", edit_team_path(team) %></td>
      <td><%= link_to "Destroy", team, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Team", new_team_path %></p>
