<% form_for @pick do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :round %><br />
    <%= f.text_field :round %>
  </p>
  <p>
    <%= f.label :pick_number %><br />
    <%= f.text_field :pick_number %>
  </p>
  <p>
    <%= f.label :team_id %><br />
    <%= f.text_field :team_id %>
  </p>
  <p>
    <%= f.label :player_id %><br />
    <%= f.text_field :player_id %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
