<h2>Welcome to the Chase Mock Draft</h2>

<% unless @end_of_draft %>

	<% if logged_in? %>
	<h1>If you are an admin and would like to perform the draft click <%= link_to "here", pick_path(@pick) %><h1>
	<% end %>

	<h2>The <%= @pick.team.name %> are on the Clock! with pick number <%= @pick.pick_number %> in the draft<h2>

	The Previous 3 picks have been
		<% @previous_picks.each do |pick| %>
			<h2><%= pick.team.name %></h2>
				Who drafted <li><%= pick.player.name%>, <%=pick.player.position%></li>
		<% end %>
	
	<h2>The next pick will be</h2>
	<li><%= Pick.next.team.name %></li>

<% else %>
	<h2> The draft is over! </h2>
<% end %>

<h1>To view what players your team drafted click <%= link_to "here", teams_path %></h1>
<h1>To view the current draft results in full click <%= link_to "here", results_path %></h1>
<h1>To view the the remaining players <%= link_to "here", undrafted_path %></h1>