<% title "Picks" %>
  <% @picks.each do |pick| %>
	<h1>
		<%= pick.round %>
		<%= pick.pick_number %>
		<%= pick.team.name %>
		<%= link_to "Show", pick %>
		<%= link_to "Edit", edit_pick_path(pick) %>
		<%= link_to "Destroy", pick, :confirm => 'Are you sure?', :method => :delete %>
	</h1>
<% end %>

<%= link_to "New Pick", new_pick_path %>
