<% title "Pick" %>

<p>
  <strong>Round:</strong>
  <%= @pick.round %>
</p>
<p>
  <strong>Pick Number:</strong>
  <%= @pick.pick_number %>
</p>
<p>
  <strong>Team:</strong>
  <%= @pick.team.name %>
</p>

<%= render :partial => '/players/players', :locals => {:players => @players}%>
<p>
  <%= link_to "Edit", edit_pick_path(@pick) %> |
  <%= link_to "Destroy", @pick, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", picks_path %>
</p>

